<li><span class="content">
    <%= preferrence.content %>
</span>
<% if current_user?(preferrence.user) %>
      <%= link_to "delete", preferrence, method: :delete,
                  data: { confirm: "You sure?" } %>
    <% end %>
</li>