<div class="row">
  <%= form_for(:dinner_meal,url: create_new_dinner_menu_path) do |f| %>
    <%= f.text_area :items %>
    <br/>
    <%= f.number_field :cost %>
    <%= f.submit "Submit", disable_with: 'Submiting...', action: "create_meal" %>
  <% end %>
</div>