<%= form_for(@preferrence) do |f| %>
  <div class="row">
    <%= f.text_field :disliked_item, placeholder: "Item you dislike..." %>
    <%= f.submit "Add", class: "btn btn-primary" %>
  </div>
<% end %>