<h2>Revenue</h2>
<table class="table">
    <tr>
        <th>1st Quarter</th>
        <th>2nd Quarter</th>
        <th>3rd Quarter</th>
        <th>4th Quarter</th>
    </tr>
    <tr>
        <td><%= get_expenses(2019) %></td>
        <td><%= get_expenses(2018) %></td>
        <td><%= get_expenses(2018) %></td>
        <td><%= get_expenses(2018) %></td>
    </tr>
</table>