<% provide(:title, "Expenses") %>
<div class="row" style="margin:10px">
  <%= form_for(:expense, url: show_expense_path) do |f| %>
  <%= f.date_select :expired, :prompt=> {:day=> 'Select day', :month=> 'Select month', :year=> 'Select year'},
                            class: 'form-control'%>
  <%= f.submit "Submit", class: 'btn btn-primary' %>
  <% end %>

  <%= render 'show' %>
</div>